.cards {
  font-family: "Inter Font", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.card__list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 17px;
  row-gap: 20px;
}

.card__item {
  display: flex;
  flex-direction: column;
  width: 282px;
  height: 361px;
}

.card__image {
  flex-grow: 1;
  max-width: 100%;
  max-height: 78%;
  border-radius: 10% 10% 0 0;
}

.card__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  max-width: 282px;
  background: white;
  border: 0;
  border-radius: 0 0 10px 10px;
  height: 21%;
  margin: 0;
  padding: 0;
}

.card__name {
  color: black;
  font-weight: 900;
  margin: 0;
  max-width: 100%;
  font-size: 1.5em;
  padding: 25px 0 28px 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__icon {
  padding: 31px 20px 30px 0;
  content: url(/images/Vector.svg);
  transition: content 1.5s ease-in-out 1.5s;
}

.card__icon:hover {
  content: url(/images/Vector\ hover.svg);
}

@media screen and (max-width: 775px) {
  .card__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .cards {
    margin: 2.25em 1em 0 1em;
  }

  .card__list {
    display: flex;
    flex-direction: column;
  }
}
