.profile {
  color: white;
  display: flex;
  margin-bottom: 51px;
  justify-content: space-between;
}

.profile__text {
  display: flex;
}

.profile__block {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: baseline;
  align-content: flex-start;
  column-gap: 18px;
}

.profile__image {
  margin: 0;
  padding-top: 40px;
  padding-right: 30px;
}

.profile__text {
  padding-right: 18px;
  justify-self: flex-end;
}

.profile__title {
  font-weight: 500;
  white-space: nowrap;
  font-size: 2.6em;
  line-height: 1.2;
  margin: 0;
  margin-top: 62px;
  margin-bottom: 7px;
}

.profile__subtitle {
  font-weight: 400;
  margin: 0;
  font-size: 1.2em;
  line-height: 1.2;
}

.profile__button {
  border: 0;
  padding: 0;
  background-color: transparent;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
}

.profile__add-button {
  justify-self: flex-end;
}

.profile__edit-button {
  align-self: flex-start;
  width: 24px;
  height: 24px;
}

.profile__button:hover {
  opacity: 60%;
}

@media screen and (max-width: 320px) {
  .profile {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
  }

  .profile__block {
    display: grid;
    padding: 0;
    column-gap: 10px;
    padding-left: 32px;
  }

  .profile__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .profile__image {
    margin-bottom: 1.8em;
    margin-top: 2.6em;
    padding: 0;
    justify-content: center;
    height: 120px;
    width: 120px;
  }

  .profile__title {
    font-size: 1.3em;
    line-height: 1.2em;
    margin: 0;
    justify-self: center;
  }

  .profile__subtitle {
    font-size: 14px;
    padding-top: 1em;
    justify-self: center;
  }

  .profile__button {
    display: block;
  }
  .profile__edit-button {
    padding: 0;
    width: 18px;
    height: 18px;
  }

  .profile__add-button {
    content: url(../images/Add\ Button\ big.png);
    padding: 0;
    margin-top: 2em;
  }
}
