.profile {
  color: white;
  display: flex;
  margin-top: 40px;
  margin-bottom: 51px;
  height: 120px;
  justify-content: space-between;
}

.text_wrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__text {
  display: flex;
  padding-right: 18px;
  justify-self: flex-end;
}

.profile__block_title_sub {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.profile__block {
  display: flex;
  justify-content: center;
  column-gap: 18px;
  max-width: 415px;
  align-self: center;
  height: 77px;
}

.profile__image {
  margin: 0;
  padding-right: 30px;
}

.profile__title {
  font-weight: 500;
  white-space: nowrap;
  font-size: 2.6em;
  line-height: 1.2;
  margin: 0px 0px 0px 7px;
  height: 48px;
  min-width: 373px;
}

.profile__subtitle {
  font-weight: 400;
  margin: 0;
  font-size: 1.2em;
  line-height: 1.2;
  max-width: 415px;
}

.profile__button {
  border: 0;
  padding: 0;
  background-color: transparent;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
  display: block;
}

.profile__add-button {
  align-self: center;
  background-image: url(./../images/Add_Button.svg);
  width: 150px;
  height: 160px;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  border: none;
}

.profile__edit-button {
  align-self: flex-start;
  width: 24px;
  height: 24px;
}

.profile__button:hover {
  opacity: 60%;
}

@media screen and (max-width: 320px) {
  .profile {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 42px;
    margin-bottom: 36px;
    height: 286px;
  }

  .profile__block_title_sub {
    align-items: center;
    row-gap: 14px;
  }

  .profile__block {
    display: flex;
    position: relative;
    padding: 0;
    column-gap: 10px;
    justify-items: center;
    margin: 30px 0px 36px 0px;
    max-width: 282px;
    width: 282px;
  }

  .profile__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .profile__image {
    padding: 0;
    justify-content: center;
    height: 120px;
    width: 120px;
  }

  .profile__title {
    font-size: 1.3em;
    line-height: 1.2em;
    margin: 0;
    height: 22px;
    margin-bottom: 0px;
    justify-self: center;
    min-width: 196px;
    max-width: 196px;
  }

  .profile__subtitle {
    font-size: 14px;
    justify-self: center;
    max-width: 282px;
  }

  .profile__edit-button {
    padding: 0;
    width: 18px;
    height: 18px;
    margin-left: auto;
    position: absolute;
    right: 10px;
  }

  .profile__add-button {
    padding: 0;
    margin: 0;
    width: 282px;
    background-image: url(./../images/Add_Button_big.svg);
    height: 50px;
  }

  .profile__button {
    display: contents;
  }
}
